{% extends "base.html" %}

{% load  static %}

{% block css %}

{% endblock css %}

{% block js %}


<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>


<script>
    const firebaseApp = firebase.initializeApp({ 
        apiKey: "AIzaSyDWmjxUd-yjj6TEcPsqEHj5eUvnle2gySY",

        authDomain: "django-rest-8159a.firebaseapp.com",

        projectId: "django-rest-8159a",

        storageBucket: "django-rest-8159a.appspot.com",

        messagingSenderId: "625369925926",

        appId: "1:625369925926:web:59a9efe52e67af78b959e7"

    });
    const db = firebaseApp.firestore();
    const auth = firebaseApp.auth();

    
    

    function login(){
        var provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth()
            .signInWithPopup(provider)
            .then((result) => {
                /** @type {firebase.auth.OAuthCredential} */
                var credential = result.credential;

                // This gives you a Google Access Token. You can use it to access the Google API.
                var token = credential.idToken;
                // The signed-in user info.
                var user = result.user;
                
                // recuperar id token user
                user.getIdtoken().then(
                    function(idToken) {
                        console.log(idToken)
                    }).catch(function(error) {
                        
                    })
                // ...
            }).catch((error) => {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
         });
    }
 </script>
 

{% endblock js %}